# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
venv_linux/
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
